*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.header {
    height: 70px;
}

.w-250{
    width: 250px;
}

.h-100 {
    height: 100vh;
}

.vuoto {
    height: 300px;
    background-color: cadetblue;
}

.main {
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
}

/* sidebar */
.sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    width: 100px;
}

.dashboard {
    background-color: white;
    flex-grow: 1;
    overflow-y: auto;
}

.mobile-logo {
    width: 37px;
    aspect-ratio: 1;
}

.sidebar .list-group {
    border-radius: 0;
}

.sidebar .list-group-item {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.sidebar .list-group-item.active {
    background-color: rgba(255, 255, 255, .25);
}

.sidebar__icon {
    font-size: 1rem;
    width: 35px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fine dashboard */
/* recap */

.recap {
    background-color: #1B72E8;
    color: white;
}

.recap .badge {
    background-color: #155ab9;
    color: white;
}

.dashboard .offcanvas {
    width: 100%;
}

/* details */
.class__img img {
    width: 30px;
}

.dashboard .card-header {
    font-weight: 700;
    font-size: 1.5rem;
}

/* MEDIA QUERY */

/* MOBILE */
    @media (min-width: 576px) {


    }

/* TABLET */
    @media (min-width: 768px) {


    }

/* DESKTOP */
    @media (min-width: 992px) {

        .sidebar { 
            width: 250px;
        }

        .dashboard .offcanvas {
            width: calc(100% - 250px);
        }

    }
